[run]
branch = 1
omit = */baseplate/thrift/*.py

[report]
exclude_lines =
    # re-enable the built-in pragma
    pragma: nocover
    # trivially empty implementations shouldn't matter
    raise NotImplementedError
    pass
    # module-import stuff should be minimal
    if __name__ == .__main__.:
