*.pyc
*.pyo
__pycache__

.coverage

.vagrant

baseplate.egg-info
build/
dist/

baseplate/thrift/__init__.py
baseplate/thrift/BaseplateService.py
baseplate/thrift/BaseplateService-remote
baseplate/thrift/ttypes.py
baseplate/thrift/constants.py
