branches:
    only:
        - master

sudo: required
dist: trusty
group: deprecated-2017Q2

services:
    - memcached
    - redis

language: python
python:
    - "2.7"
    - "3.4"

virtualenv:
    system_site_packages: true

before_install:
    - sudo add-apt-repository -y ppa:reddit/ppa
    - sudo add-apt-repository -y ppa:reddit/thrift12
    - echo "deb http://debian.datastax.com/community stable main" | sudo tee -a /etc/apt/sources.list.d/cassandra.sources.list
    - sudo apt-key add puppet/modules/cassandra/files/repo_key
    - sudo apt-get update -q
    - >
        sudo apt-get install -y \
            cassandra=2.2.8 \
            thrift-compiler \
            make \
            pylint \
            python \
            python3 \
            python3-cassandra \
            python3-coverage \
            python3-cqlmapper \
            python3-thrift \
            python3-gevent \
            python3-hvac \
            python3-jwt \
            python3-kazoo \
            python3-kombu \
            python3-nose \
            python3-posix-ipc \
            python3-pymemcache \
            python3-redis \
            python3-requests \
            python3-setuptools \
            python3-sqlalchemy \
            python3-webtest \
            python-alabaster \
            python-coverage \
            python-cqlmapper \
            python-cryptography \
            python-enum34 \
            python-thrift \
            python-flake8 \
            python-gevent \
            python-hvac \
            python-jwt \
            python-kazoo \
            python-kombu \
            python-mock \
            python-nose \
            python-posix-ipc \
            python-pymemcache \
            python-pyramid \
            python-redis \
            python-requests \
            python-setuptools \
            python-sphinx \
            python-sphinxcontrib.spelling \
            python-sqlalchemy \
            python-webtest \
            unzip \
            zookeeperd
    - sudo service cassandra start
    - wget https://releases.hashicorp.com/vault/1.0.0/vault_1.0.0_linux_amd64.zip && unzip vault_1.0.0_linux_amd64.zip && ./vault server -dev -dev-root-token-id=b4c6f298-3f80-11e7-8b88-5254001e7ad3 &
    - sleep 10  # cassandra takes a while to start up

script:
    - make
    - nosetests -v
    - sphinx-build -M doctest docs/ build/
    - sphinx-build -M spelling docs/ build/
    - make lint

jobs:
  include:
    - stage: PyPI Release
      python: 3.4
      script: echo "Deploying to PyPI"
      deploy:
        provider: pypi
        install: skip
        user: reddit
        password:
          secure: OeCJ+XpTicmSWTSXhCF62SWyXU+63PtdYYJEMdC0Yfttm9KFnwVvy7TZ0jCALk2+0Gw39ExdfZ5yMTEVkJY+rh98nFKAiVOX3q4X/avBCKV87p8Ju+jdGpeiirNBXNOM4qN25P+hPbI+BScmApw7dFE6eEPlHdcOwr8nxrcsmfh1NApFXiTagrpqVrV3/a9QnVSVTcbUgzWyfhLEQo+GDTyB0JnKvhMPaKOVUZ1QyoxCYkkrnDbCIH8xAMirCTqjRCHS4JW15QrmibAYOTSPhYz8Jjie9MVsNfQayxKEQwHjiE0+oQmSb8f9ZlY5qFwBAFYxRiNzF9R/baebyu07gNKBJO+NOMg33Wimfo7NtF6sJI/vXY0Wt0YByvvn6hg37Ko3W9PY6z6ZIPcanRidR5ws/w6ZZOseLaZM1VG/LnIcn9wlk5uCyGWxNW6Rkw19rKnObvUbRBTMTRRaFBhYcisodgz7T1ON2Jr0g4o5wIb6zJqwA74Dq1N0AatUXeNz1yD4CxOsXm5k3pk3OBtc0ddKr048gCMv17nUMDldauGRWwK18x0gYLCie1aaHpbZ15BRZ8KuPrr/QoVSXWSxAWacf5GQjE+tqfYJ97kMATRH1udfbQEYWyELihQvz7BV9pzW59vOt5p7P1Yu7W7ZVrpmg0IcIR9gjeEftYJTxAM=
        distributions: "bdist_wheel"
        on:
          tags: true
