# these are the requirements to run the full test suite.
#
# this is used inside CI and tox, so we don't need anything useful outside the
# direct test environment like tox itself.
-f https://reddit-wheels.s3.amazonaws.com/index.html
advocate==1.0.0
amqp==2.3.2
asn1crypto==0.24.0
astroid==2.3.3
atomicwrites==1.3.0
attrs==18.2.0
beautifulsoup4==4.6.3
cassandra-driver==3.17.0
certifi==2019.3.9
cffi==1.14.0
chardet==3.0.4
confluent-kafka==1.3
coverage==4.5.2
cqlmapper==0.1.0
cryptography==3.2
gevent==1.4.0
graphviz==0.11.1
greenlet==0.4.15
hupper==1.0
hvac==0.2.17
idna==2.8
importlib-metadata==0.23
isort==4.3.16
kazoo==2.5.0
kombu==4.2.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==5.0.0
ndg-httpsclient==0.5.0
netifaces==0.10.9
objgraph==3.4.1
PasteDeploy==1.5.2
plaster==1.0
plaster-pastedeploy==0.4.2
pluggy==0.12.0
posix-ipc==1.0.4
py==1.7.0
pyasn1==0.4.8
pycparser==2.19
PyJWT==1.6.3
pylint==2.4.4
pymemcache==1.3.2
pyOpenSSL==19.0.0
pyramid==1.9.1
pytest==4.6.3
pytest-cov==2.6.1
python-json-logger~=0.1
pytz==2018.9
raven==6.10.0
redis==3.3.8
repoze.lru==0.7
requests==2.21.0
six==1.12.0
SQLAlchemy==1.3.0
thrift==0.13.0
translationstring==1.3
typed-ast==1.4.0
urllib3==1.24.2
venusian==1.1.0
vine==1.1.4
waitress==1.4.2
wcwidth==0.1.7
WebOb==1.8.4
WebTest==2.0.32
wrapt==1.11.1
zipp==0.6.0
zope.deprecation==4.4.0
zope.interface==4.4.3
