# This file is just used to set up baseplate.py's test environment. It is not
# indicative of the versions you must use in your applications.
#
# See install_requires and extras_require in setup.py for the range of versions
# supported.
-r requirements-transitive.txt
astroid==2.8.4
black==21.10b0
boto3==1.21.20
flake8==3.8.4
lxml==4.6.5
mypy==0.910
prometheus-client==0.14.1
pydocstyle==5.1.1
pylint==2.11.1
pytest==6.2.2
pytest-cov==2.11.1
pytz==2021.1
reorder-python-imports==2.4.0
sphinx==3.4.3
sphinx-autodoc-typehints==1.11.1
sphinxcontrib-spelling==7.1.0
types-redis==3.5.3
types-requests==2.25.6
types-setuptools==57.0.2
webtest==2.0.35
wheel==0.36.2
fakeredis==1.5.0
