advocate==1.0.0
alabaster==0.7.12
amqp==2.6.1
appdirs==1.4.4
aspy.refactor-imports==2.1.1
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
cached-property==1.5.2
cassandra-driver==3.24.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
confluent-kafka==1.6.0
coverage==5.4
cryptography==3.4.4
docutils==0.16
geomet==0.2.1.post1
gevent==21.1.2
graphviz==0.16
greenlet==1.0.0
hupper==1.10.2
idna==2.10
imagesize==1.2.0
iniconfig==1.1.1
isort==5.7.0
Jinja2==2.11.3
kazoo==2.8.0
kombu==4.6.11
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
ndg-httpsclient==0.5.1
netifaces==0.10.9
objgraph==3.5.0
packaging==20.9
PasteDeploy==2.1.1
pathspec==0.8.1
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
posix-ipc==1.0.5
py==1.10.0
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pyenchant==3.2.0
pyflakes==2.2.0
Pygments==2.7.4
pymemcache==1.4.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyramid==1.10.5
python-json-logger==2.0.1
reddit-cqlmapper==0.3.0
redis==3.5.3
regex==2020.11.13
requests==2.25.1
sentry-sdk==0.20.1
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.4.12
thrift-unofficial==0.14.1
toml==0.10.2
translationstring==1.4
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.3
venusian==3.0.0
vine==1.3.0
waitress==1.4.4
WebOb==1.8.6
wrapt==1.12.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.interface==5.2.0
