Source: baseplate
Section: python
Priority: optional
Maintainer: Neil Williams <neil@reddit.com>
Build-Depends: debhelper (>= 8),
               dh-python,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools,
               python-nose, python3-nose, python-mock,
               python-enum34,
               python-requests, python3-requests,
               fbthrift-compiler,
               python-pyramid, python-fbthrift,
               python-posix-ipc, python3-posix-ipc,
               python-sqlalchemy, python3-sqlalchemy,
               python-sphinx | python3-sphinx, python-alabaster, python-sphinxcontrib.spelling
Standards-Version: 3.9.5
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4

Package: python-baseplate
Architecture: amd64
Depends: fbthrift-compiler, python-fbthrift, ${python:Depends}, ${misc:Depends}
Suggests: python-baseplate-doc
Description: convenient service framework (Python 2)

Package: python3-baseplate
Architecture: amd64
Depends: fbthrift-compiler, python3-fbthrift, ${python3:Depends}, ${misc:Depends}
Suggests: python-baseplate-doc
Description: convenient service framework (Python 3)

Package: python-baseplate-doc
Architecture: amd64
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: convenient service framework - API documentation
