#!/usr/bin/make -f

export PYBUILD_NAME=baseplate

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=pybuild

.PHONY: override_dh_auto_build
override_dh_auto_build:
	make docs
	dh_auto_build

.PHONY: override_dh_clean
override_dh_clean:
	make clean
	dh_clean
