name: Lint and Test

on:
  push:
    branches: [ develop, v2.5, v2.5-unsupported-gcp ]
  pull_request:
    branches: [ develop, v2.5, v2.5-unsupported-gcp ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']

    container:
      image: python:${{ matrix.python-version }}

    services:
      cassandra:
        image: "cassandra:3.11"
      memcached:
        image: "memcached:1.5.6"
      redis:
        image: "redis:4.0.9"
      zookeeper:
        image: "zookeeper:3.4.10"

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: actions/cache@ab5e6d0c87105b4c9c2047343972218f562e4319 # v4.0.1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        env:
          CASS_DRIVER_NO_EXTENSIONS: theytaketoolongtobuild
        run: |
          python --version
          python -m pip install -r requirements.txt

      - name: Lint
        run: |
          make lint

      - name: Test
        run: |
          make test
