name: Lint and Test

on:
  push:
    branches: [ develop, v2.5, v2.5-unsupported-gcp ]
  pull_request:
    branches: [ develop, v2.5, v2.5-unsupported-gcp ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']

    container:
      image: python:${{ matrix.python-version }}

    services:
      cassandra:
        image: "cassandra:3.11"
      memcached:
        image: "memcached:1.5.6"
      redis:
        image: "redis:4.0.9"
      zookeeper:
        image: "zookeeper:3.4.10"

    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2

      - uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4.0.2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        env:
          CASS_DRIVER_NO_EXTENSIONS: theytaketoolongtobuild
        run: |
          python --version
          python -m pip install -r requirements.txt

      - name: Lint
        run: |
          make lint

      - name: Test
        run: |
          make test
